<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Tвой первый URL-адрес в Django!</h1>
	<p>Пришло время создать твой первый URL-адрес! Мы хотим, чтобы 'http://127.0.0.1:8000/' возвращал домашнюю страничку нашего блога со списком записей в нём.

Мы также хотим сохранить файл mysite/urls.py в максимально аккуратном виде, так что мы импортируем URL-адреса для нашего приложения blog в mysite/urls.py.

Вперёд, добавь строку для импорта blog.urls. Обрати внимание, что здесь мы используем функцию include, поэтому тебе придется импортировать её в строке from django.urls....

Файл mysite/urls.py должен выглядеть следующим образом:</p>
</body>
</html>